# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Sensitive configs
config.json
data.json
.env

# Logs
*.log

package-lock.json

# Node modules
node_modules/
